/* @media screen and (min-width: 576px) {
    .name {
        font-size: 50px;
    }
} */

.name {
    color: #F2A74B; 
    letter-spacing: 8px; 
    font-weight: 400;
    font-size: 120px;
    font-family: 'Genos', sans-serif; 
    text-align: center;
}

.skills {
    color: #ffffff; 
    font-family: 'Genos', sans-serif; 
    font-weight: 200;
    text-align: center;
    font-size: 50px; 
    /* background-color: #03080D; */
}

.explore {
    color: #ffffff; 
    font-family: 'Genos', sans-serif; 
    font-weight: 300;
    text-align: center;
    font-size: 90px;
    padding: 5px 10px 5px 10px;
    border-radius: 23px;
}

.links {
    color: #F2A74B; 
    font-family: 'Genos', sans-serif; 
    font-weight: 300;
    text-align: center;
    font-size: 80px;
    padding: 5px 10px 5px 10px;
    border-radius: 23px;
}

@media screen and (max-width: 900px) {
    .name {
        font-size: 100px;
    }

    .skills {
        font-size: 31px;
    }
    
    .links {
        font-size: 60px;
    }
}

@media screen and (max-width: 700px) {
    .name {
        font-size: 82px;
    }

    .skills {
        font-size: 33px;
    }
    
    .links {
        font-size: 50px;
    }
}

